### 1.Find the 3 most profitable companies in the entire world.
Output the result along with the corresponding company name.
Sort the result based on profits in descending order.

In [55]:
import warnings

# Suppress SettingWithCopyWarning
warnings.filterwarnings("ignore", category=pd.errors.SettingWithCopyWarning)

In [3]:
import pandas as pd

# Specify the path to the CSV file
file_path = r"D:\STRATASCRATCH 1\forbes_global_2010_2014\forbes_global_2010_2014.csv"

# Read the CSV file into a DataFrame
forbes_global_2010_2014 = pd.read_csv(file_path)

In [4]:
# Display the first few rows of the DataFrame
print(df.head())

                      company      sector             industry      continent  \
0                        ICBC  Financials          Major Banks           Asia
1     China Construction Bank  Financials       Regional Banks           Asia
2  Agricultural Bank of China  Financials       Regional Banks           Asia
3              JPMorgan Chase  Financials          Major Banks  North America
4          Berkshire Hathaway  Financials  Investment Services  North America

         country  marketvalue  sales  profits  assets  rank  \
0          China        215.6  148.7     42.7  3124.9     1
1          China        174.4  121.3     34.2  2449.5     2
2          China        141.1  136.4     27.0  2405.4     3
3  United States        229.7  105.7     17.3  2435.3     4
4  United States        309.1  178.8     19.5   493.4     5

                                       forbeswebpage
0              http://www.forbes.com/companies/icbc/
1  http://www.forbes.com/companies/china-construc...
2  http://www.forbes.com/companies/agricultural-b...
3    http://www.forbes.com/companies/jpmorgan-chase/
4  http://www.forbes.com/companies/berkshire-hath...

In [5]:
import pandas as pd
import numpy as np

result = forbes_global_2010_2014.groupby('company')['profits'].sum(
).reset_index().sort_values(by='profits', ascending=False)
result['rank'] = result['profits'].rank(method='min', ascending=False)
result = result[result['rank'] <= 3][['company', 'profits']]

In [6]:
result

    company  profits
49     ICBC     42.7
39  Gazprom     39.0
7     Apple     37.0

### 2.Find the continet with the highest number of companies.
Output the continent along with the corresponding number of companies.

In [7]:
# Import your libraries
import pandas as pd

# Start writing code
#forbes_global_2010_2014.head()
result = forbes_global_2010_2014.groupby(['continent'])['company'].size().to_frame('n_companies').reset_index()
result =result[result.n_companies == max(result.n_companies)]

In [8]:
result

       continent  n_companies
3  North America           40

### 3-Find the total assets of the energy sector.

In [9]:
import pandas as pd
import numpy as np

energy = forbes_global_2010_2014[forbes_global_2010_2014['sector'] == 'Energy']
result = energy['assets'].sum()

In [10]:
result

3624.1

### 4-Find the top 3 sectors in the United States with highest average rank. Output the average rank along with the sector name.

In [11]:
import pandas as pd
import numpy as np

result = forbes_global_2010_2014[forbes_global_2010_2014['country']=='United States'].groupby(['sector'])['rank'].mean().to_frame('avg_rank').reset_index().sort_values('avg_rank')

result[result['avg_rank'].isin(result['avg_rank'].nsmallest(3, keep='all'))]

                       sector   avg_rank
7  Telecommunication Services  24.500000
3                  Financials  27.000000
2                      Energy  33.333333

In [12]:
result

                       sector   avg_rank
7  Telecommunication Services  24.500000
3                  Financials  27.000000
2                      Energy  33.333333
0      Consumer Discretionary  58.200000
6      Information Technology  58.500000
5                 Industrials  60.333333
4                 Health Care  67.250000
1            Consumer Staples  77.500000

### 5-Find the number of USA companies that are on the list.

In [13]:
import pandas as pd
import numpy as np

states = forbes_global_2010_2014[forbes_global_2010_2014['country'] == 'United States']
result = len(states['company'])

In [14]:
result

37

### 6-Find the total market value for the financial sector.

In [15]:
import pandas as pd
import numpy as np

financials = forbes_global_2010_2014[forbes_global_2010_2014['sector'] == 'Financials']
result = financials['marketvalue'].sum()

### 7-
Find industries with the highest market value in Asia.
Output the industry along with the corresponding total market value.

In [16]:
import pandas as pd
import numpy as np

asia = forbes_global_2010_2014[forbes_global_2010_2014['continent'] == 'Asia']
asia_sum = asia.groupby(['industry'])['marketvalue'].sum()
result = asia_sum[asia_sum == asia_sum.max()].reset_index()

In [17]:
result

      industry  marketvalue
0  Major Banks        524.8

### 8- Find the average profit for major banks.

In [21]:
import pandas as pd
import numpy as np

banks = forbes_global_2010_2014[forbes_global_2010_2014['industry'] == 'Major Banks']
result = banks['profits'].mean()

In [22]:
result

11.9

### 9-Find industries with the highest number of companies.
Output the industry along with the number of companies.
Sort records based on the number of companies in descending order.

In [19]:
import pandas as pd
import numpy as np

result = forbes_global_2010_2014.groupby(['industry'])['company'].size().to_frame('n_companies').reset_index().sort_values('n_companies', ascending = False)

In [20]:
result

                        industry  n_companies
18                   Major Banks           21
21          Oil & Gas Operations           14
1     Auto & Truck Manufacturers            8
26   Telecommunications services            7
10         Diversified Insurance            7
22               Pharmaceuticals            5
23                Regional Banks            4
2                      Beverages            3
7                  Conglomerates            3
16           Investment Services            3
25        Software & Programming            2
24                Semiconductors            2
17       Life & Health Insurance            2
13            Electric Utilities            2
9          Diversified Chemicals            2
6              Computer Services            2
5              Computer Hardware            2
3           Broadcasting & Cable            2
14               Food Processing            1
15       Household/Personal Care            1
12                   Drug Retail            1
11   Diversified Metals & Mining            1
19           Managed Health Care            1
20  Medical Equipment & Supplies            1
8                Discount Stores            1
4       Communications Equipment            1
0            Aerospace & Defense            1

### 10-Find the average profit for major banks.

In [23]:
import pandas as pd
import numpy as np

banks = forbes_global_2010_2014[forbes_global_2010_2014['industry'] == 'Major Banks']
result = banks['profits'].mean()

In [24]:
result

11.9

### 11-Find the most popular sector from the Forbes list based on the number of companies in each sector.
Output the sector along with the number of companies.

In [25]:
import pandas as pd
import numpy as np

result = (forbes_global_2010_2014
            .groupby(['sector'])
            .size()
            .to_frame('n_companies')
            .reset_index()
            .assign(rnk = lambda x: pd.Series.rank(x['n_companies'], method='min', ascending=False))
            .query("rnk == 1")[['sector', 'n_companies']]
    )

In [26]:
result

       sector  n_companies
3  Financials           37

### 12-Find the country that has the most companies listed on Forbes.

Output the country along with the number of companies.

In [27]:
import pandas as pd
import numpy as np


result = forbes_global_2010_2014.groupby(['country'])['company'].size().to_frame('n_companies').reset_index().sort_values('n_companies', ascending = False).head(1)

In [28]:
result

          country  n_companies
18  United States           37

### 13-Find all industries with a positive average profit. For those industries extract their lowest sale.
Output the industry along with the corresponding lowest sale and average profit.
Sort the output based on the lowest sales in ascending order.

In [29]:
import pandas as pd
import numpy as np

aggregations = {'sales':'min','profits': 'mean'}
filtered_df = forbes_global_2010_2014.groupby('industry').agg(aggregations).reset_index()
result = filtered_df.groupby(['industry']).filter(lambda g: g['profits'].mean() > 0).sort_values('sales')

In [30]:
result

                        industry  sales    profits
18                   Major Banks   27.7  11.900000
17       Life & Health Insurance   34.5   4.200000
25        Software & Programming   37.9  16.950000
16           Investment Services   39.5  10.300000
2                      Beverages   43.2   9.900000
22               Pharmaceuticals   43.7  10.500000
3           Broadcasting & Cable   46.0   6.700000
4       Communications Equipment   47.9   8.200000
9          Diversified Chemicals   50.4   6.550000
24                Semiconductors   52.7  18.400000
21          Oil & Gas Operations   55.6  16.471429
26   Telecommunications services   55.6  14.128571
23                Regional Banks   56.5  19.550000
10         Diversified Insurance   59.0   5.642857
6              Computer Services   59.7  14.350000
7                  Conglomerates   62.7   8.833333
11   Diversified Metals & Mining   67.7  14.800000
20  Medical Equipment & Supplies   71.3  13.800000
1     Auto & Truck Manufacturers   79.8   9.025000
15       Household/Personal Care   84.7  10.900000
0            Aerospace & Defense   86.6   4.600000
14               Food Processing   99.4  10.800000
13            Electric Utilities  100.4   4.400000
5              Computer Hardware  112.1  21.150000
19           Managed Health Care  122.5   5.600000
12                   Drug Retail  126.8   4.600000
8                Discount Stores  476.5  16.000000

### 14-What is the profit to sales ratio (profit/sales) of Royal Dutch Shell?
Output the result along with the company name.

In [37]:
import pandas as pd
import numpy as np

royal_dutch = forbes_global_2010_2014[forbes_global_2010_2014['company']=='Royal Dutch Shell']
royal_dutch['profit_to_sales_ratio'] = royal_dutch['profits'] /royal_dutch['sales']
result = royal_dutch[['company','profit_to_sales_ratio']]

C:\Users\ROHIT SHARMA\AppData\Local\Temp\ipykernel_5532\2027215519.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  royal_dutch['profit_to_sales_ratio'] = royal_dutch['profits'] /royal_dutch['sales']

In [38]:
result

              company  profit_to_sales_ratio
10  Royal Dutch Shell               0.036331

### 15-What is the profit to sales ratio (profit/sales) of Royal Dutch Shell?
Output the result along with the company name.

In [39]:
import pandas as pd
import numpy as np

royal_dutch = forbes_global_2010_2014[forbes_global_2010_2014['company']=='Royal Dutch Shell']
royal_dutch['profit_to_sales_ratio'] = royal_dutch['profits'] /royal_dutch['sales']
result = royal_dutch[['company','profit_to_sales_ratio']]

C:\Users\ROHIT SHARMA\AppData\Local\Temp\ipykernel_5532\2027215519.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  royal_dutch['profit_to_sales_ratio'] = royal_dutch['profits'] /royal_dutch['sales']

In [40]:
result

              company  profit_to_sales_ratio
10  Royal Dutch Shell               0.036331

### 16-Find the industry with lowest average sales. Output that industry.

In [41]:
import pandas as pd
import numpy as np

industries = forbes_global_2010_2014.groupby(['industry'])['sales'].mean().to_frame('avg_sales').reset_index()
result = industries[industries.avg_sales == min(industries.avg_sales)]['industry']

In [42]:
result

4    Communications Equipment
Name: industry, dtype: object

### 17-Count the number of companies in the Information Technology sector in each country.
Output the result along with the corresponding country name.
Order the result based on the number of companies in the descending order.

In [43]:
import pandas as pd
import numpy as np

it_sector = forbes_global_2010_2014[forbes_global_2010_2014['sector'] == 'Information Technology' ]
result = it_sector.groupby(['country']).size().to_frame('size').reset_index().sort_values(['size'],ascending = False).rename(columns={"size": "n_companies"})

In [44]:
result

         country  n_companies
1  United States            8
0    South Korea            1

### 18-Find the highest market value for each sector.
Output the sector name along with the result.

In [31]:
import pandas as pd
import numpy as np

result = forbes_global_2010_2014.groupby(['sector'])['marketvalue'].max()

In [32]:
result

sector
Consumer Discretionary        247.9
Consumer Staples              239.6
Energy                        422.3
Financials                    309.1
Health Care                   277.0
Industrials                   259.6
Information Technology        483.1
Materials                     182.3
Telecommunication Services    197.7
Utilities                      75.8
Name: marketvalue, dtype: float64

### 15-

### 19-Find the most profitable company from the financial sector. Output the result along with the continent.

In [33]:
import pandas as pd
import numpy as np

finance_sector = forbes_global_2010_2014[forbes_global_2010_2014['sector']== 'Financials']
finance_sector['rank'] = finance_sector['profits'].rank(method='min', ascending=False)
result = finance_sector[finance_sector['rank'] == 1][['company','continent']]

C:\Users\ROHIT SHARMA\AppData\Local\Temp\ipykernel_5532\2524900940.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finance_sector['rank'] = finance_sector['profits'].rank(method='min', ascending=False)

In [34]:
result

  company continent
0    ICBC      Asia

### 20-List all companies working in the financial sector with headquarters in Europe or Asia.

In [35]:
import pandas as pd
import numpy as np

eu_asia = forbes_global_2010_2014[(forbes_global_2010_2014['continent'] == 'Asia') | (forbes_global_2010_2014['continent'] == 'Europe')]
result = eu_asia[eu_asia['sector'] == 'Financials'][['company']]

In [36]:
result

                       company
0                         ICBC
1      China Construction Bank
2   Agricultural Bank of China
8                Bank of China
13               HSBC Holdings
23                 BNP Paribas
26                     Allianz
32                   AXA Group
36    Mitsubishi UFJ Financial
42             Banco Santander
55   Sumitomo Mitsui Financial
57                    Sberbank
61     Ping An Insurance Group
64      Bank of Communications
65        China Life Insurance
78                         UBS
84      Zurich Insurance Group
88             Credit Agricole
91                   Munich Re
96                   ING Group

In [49]:
import pandas as pd

# Specify the path to the CSV file
file_path = r"D:\STRATASCRATCH 1\forbes_global_2010_2014\aapl_historical_stock_price.csv"

# Read the CSV file into a DataFrame
aapl_historical_stock_price = pd.read_csv(file_path)

In [50]:
aapl_historical_stock_price.head()

         date  year  month    open   high     low   close    volume   id
0  2012-12-31  2012     12  510.53  506.5  509.00  532.17  23553255  273
1  2012-12-28  2012     12  510.29  506.5  508.12  509.59  12652749  274
2  2012-12-27  2012     12  513.54  506.5  504.66  515.06  16254240  275
3  2012-12-26  2012     12  519.00  506.5  511.12  513.00  10801290  276
4  2012-12-24  2012     12  520.35  506.5  518.71  520.17   6276711  277

### 21-Find the date when Apple's opening stock price reached its maximum

In [53]:
import pandas as pd
import numpy as np
import datetime, time 

df = aapl_historical_stock_price
df['date'] = df['date'].apply(lambda x: x.strftime('%Y-%m-%d'))

result = df[df['open'] == df['open'].max()][['date']]

In [54]:
result

          date
66  2012-09-21

### 22-Find the best day of the month for AAPL stock trading. The best day is the one with highest positive difference between average closing price and average opening price. Output the result along with the average opening and closing prices.

In [51]:
import pandas as pd
import numpy as np

aapl_historical_stock_price['date'] = aapl_historical_stock_price['date'].apply(
    pd.to_datetime)
aapl_historical_stock_price.loc[:, 'open':'volume'] = aapl_historical_stock_price.loc[:, 'open':'volume'].apply(
    pd.to_numeric)
aapl_historical_stock_price['day_of_month'] = aapl_historical_stock_price['date'].dt.day
result = aapl_historical_stock_price.groupby('day_of_month').agg(
    {'open': 'mean', 'close': 'mean'}).reset_index()
max_difference = (result['close'] - result['open']).max()
result = result[(result.close - result.open) == max_difference]

In [52]:
result

   day_of_month       open    close
8             9  550.48375  555.895